<% include book_header.ejs %>
       <div class="panel-body">
         <div class="page-header">
            <strong>Hi，我是飘零旅游—法国普罗旺斯旅游_波尔多旅游_巴黎旅行社_法国旅行社_波尔多一日游_法国定制旅游_普罗旺斯一日游旅行顾问！为您提供： </strong><br />
             行程规划、贴身顾问、全程预订等服务<br />
             来一次不拼团、零操心的自主旅行
         </div>
	30秒了解您的需求<br />
              专业顾问推荐行程和价格<br /><br />
              <a class="btn btn-primary" href='/destination'>选择我的目的地</a>
              <a class="btn btn-default" href='/days_trip'>不确定目的地</a>
         </div>
<% include book_footer.ejs %>