<% include book_header.ejs %>
<!-- not finish-->
<div class="container">
  
  <a href="www.europely.com"><img src="http://7xoom6.com1.z0.glb.clouddn.com/avignon.jpg?imageView2/1/w/700/h/160" /> </a>
 
  <form class="form-horizontal" action="/visitCave" method="POST">
    <fieldset>
      <div id="legend" class="">
        <legend class=""><%=title%></legend>
      </div>
    <div class="control-group">

        <!-- Text input-->
          <label class="control-label"  >姓名：</label>
          <div class="controls">
            <input type="text" placeholder="" class="input-xlarge" name='clientName' required="true">
            <p class="help-block"></p>
          </div>
        </div>

     <div class="control-group">

        <!-- Text input-->
          <label class="control-label" >电话：</label>
          <div class="controls">
            <input type="text" placeholder="" class="input-xlarge" name='phone' required="true">
            <p class="help-block"></p>
          </div>
        </div>

    <div class="control-group">

        <!-- Text input-->
          <label class="control-label"  >地址：</label>
          <div class="controls">
            <input type="text" placeholder="" class="input-xlarge" name='address' required="true">
            <p class="help-block"></p>
          </div>
        </div>


      <div class="control-group">
                <label class="control-label">带儿童</label>
                <div class="controls">
            <!-- Multiple Radios -->
              <input type="radio" value="0" name="has_child" checked="checked">
              0
              <input type="radio" value="1" name="has_child">
              1
              <input type="radio" value="2" name="has_child">
              2
              <input type="radio" value="3个或以上" name="has_child">
              3+
        </div>


    <div class="control-group">
          <label class="control-label"></label>
          <!-- Button -->
          <div class="controls">
          <button  class="btn btn-primary btn-lg">
                马上预约
          </button>
        </div>
    </div>
  </fieldset>
    
  </form>

<!--End form--> 
</div>

<% include book_footer.ejs %>