<% include header.ejs %>
<div class="jumbotron">
<p>Page Not Found  <br /></p>
 <a class="btn btn-primary btn-large" href="http://www.europely.com">Come back to the home page</a>
</div>
<% include footer.ejs %>
