<% include header.ejs %>
<div class="jumbotron">
<p>Page Not Found  <br /></p>
  <li><a class="btn btn-primary btn-large" href="www.europely.com">Come back to the home page</a></li>
</div>
<% include footer.ejs %>
